<form class="flex-centered" id="issue-form" action='/issues' method='post'>

<%= form_for :issue do |f| %>
  <div>
    <%= label_tag "name", "Enter a short name for new issue:" %>
  </div>
  <div>
    <%= f.text_field :name %>
    <%= f.submit "Submit", class: "small-button" %>
  </div>
<% end %>
