<h1>New case for issue:  <%= @issue.name %> </h1>

<% if @case && @case.errors.any? %>
  <section class="errors">
    <ul>
      <% @case.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render partial: "form" %>
