<div class="opinion-container">
  <div class="flex-centered">
      <h1><%= @case.name %></h1>
  </div>
  <div class="flex-centered">
      <p><%= @case.full_citation %></p>
  </div>
  <div>
    <p><%= raw(@case.full_text) %></p>
  </div>
</div>

